// background
$mainBgColor: #FFFFFF;

// sidebar
$menuText: #61647C;
$menuActiveText: #DBDCE4;
$subMenuActiveText: #DBDCE4;

$menuBg: #181C3D;
$menuHover: #263445;

$subMenuBg: #181C3D;
$subMenuHover: #001528;

$sideBarWidth: 298px;

// navBar
$navBarHeight: 155px;

// font
$fontSmallSize: 14px;
$fontNormalSize: 16px;
$fontOneSize: 18px;
$fontTwoSize: 24px;
$fontTitleSize: 26px;

$fontImportColor: #0E1050;
$fontOneColor: #61647C;
$fontNormalColor: #8892B1;
$fontAidsColor: #B7C1DF;
$fontLinkColor: #3661EC;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  mainBgColor: $mainBgColor;

  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  navBarHeight: $navBarHeight;
  
  fontSmallSize: $fontSmallSize;
  fontNormalSize: $fontNormalSize;
  fontOneSize: $fontOneSize;
  fontTwoSize: $fontTwoSize;
  fontTitleSize: $fontTitleSize;

  fontImportColor: $fontImportColor;
  fontOneColor: $fontOneColor;
  fontNormalColor: $fontNormalColor;
  fontAidsColor: $fontAidsColor;
  fontLinkColor: $fontLinkColor;
  
}
